<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #mytable td, #accounts th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #mytable tr:hover {background-color:rgb(167, 216, 152);}
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #33aa69;
        color: white;
      }
</style>





<table id="mytable">
    <tr>
    <td>account_type</td>
    <td>balance</td>
    <td>wallet</td>
    <td>Profile</td>
    </tr>
    {% for account in accounts%}
    <tr>
        <td>{{ account.account_type}}</td>
        <td>{{ account.balance}}</td>
        <td>{{ account.wallet}}</td>
        <td><a href="{%url 'account_profile' id=account.id%}">View Provile</a></td>
    </tr>
    {%endfor%}
</table>