<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #mytable td, #receipts th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #mytable tr:hover {background-color:rgb(167, 216, 152);}
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #33aa69;
        color: white;
      }
</style>

<table id="mytable">
    <tr>
    <td>receipt_type</td>
    <td>total_amount</td>
    <td>receipt_date</td>
    <td>Profile</td>
    </tr>
    {% for receipt in receipts%}
    <tr>
        <td>{{ receipt.receipt_type}}</td>
        <td>{{ receipt.receipt_date}}</td>
        <td>{{ receipt.total_amount}}</td>
        <td><a href="{%url 'receipt_profile' id=receipt.id%}">View Provile</a></td>
    </tr>
    {%endfor%}
</table>