<style>
    #mytable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #mytable td, #wallets th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #mytable tr:hover {background-color:rgb(167, 216, 152);}
      #mytable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #33aa69;
        color: white;
      }
</style>

<table id="mytable">
    <tr>
    <td>customer</td>
    <td>balance</td>
    <td>dateCreated</td>
    <td>Profile</td>
    </tr>
    {% for wallet in wallets%}
    <tr>
        <td>{{ wallet.customer}}</td>
        <td>{{ wallet.balance}}</td>
        <td>{{ wallet.dateCreated}}</td>
        <td><a href="{%url 'wallet_profile' id=wallet.id%}">View Provile</a></td>
    </tr>
    {%endfor%}
</table>